<div class="page-bundle-view">
<center>
	<div class="photo photo-uploader margin-top-15" ng-click="onEditPhoto()" ng-show="bundle.UserId == currentUser.id">
		<div class="photo-uploader-handler"></div>
		<img ng-src="{{bundle.photo}}" />
	</div>
	<div class="name margin-top-15" ng-show="bundle.UserId == currentUser.id">{{bundle.bundleName}}</div>

	<ui-bundle-preview class="margin-top-15" bundle="bundle" size="large" callback="onThumbnailClick" ng-show="bundle.UserId != currentUser.id"></ui-bundle-preview>
	<div class="bundle-progress margin-top-10" ng-bind-html="getProgressDescription() | nl2br"></div>
	<div class="margin-top-10">
		<div class="owner margin-right-30 pull-left">
			<img ng-src="{{bundle.user.photo}}" />
		</div>
		<a ui-sref="bundle/whosin({slug:bundle.slug})" class="btn btn-bundle-users margin-right-40 margin-top-14 pull-left" ng-disabled="bundle.status!=BUNDLE_STATUS.LIVE"></a>
		<a class="btn btn-bundle-view-desc margin-right-40 margin-top-6 pull-left" ng-if="bundle.UserId != currentUser.id"></a>
		<a ng-click="onEditDesc()" class="btn btn-bundle-add-desc margin-right-40 margin-top-6 pull-left" ng-show="bundle.UserId == currentUser.id"></a>
		<a ui-sref="bundle/comments({slug:bundle.slug})" class="btn btn-bundle-message margin-right-40 margin-top-14 pull-left" ng-disabled="bundle.status!=BUNDLE_STATUS.LIVE"></a>
		<a ui-sref="bundle/share({slug:bundle.slug})" class="btn btn-bundle-share margin-top-15 pull-left" ng-disabled="bundle.status!=BUNDLE_STATUS.LIVE"></a>
		<div class="clear"></div>
	</div>
	<a ng-click="onMakeLive()" class="btn btn-white margin-top-15" ng-if="bundle.status == BUNDLE_STATUS.DRAFTED && bundle.UserId == currentUser.id">Make bundle live</a>
	<a ui-sref="bundle/invite({slug:bundle.slug})" class="btn btn-white margin-top-15" ng-if="bundle.status == BUNDLE_STATUS.LIVE && bundle.UserId == currentUser.id">Invite friends</a>
	<a class="btn btn-white margin-top-15" ng-if="bundle.status == BUNDLE_STATUS.LIVE && bundle.UserId != currentUser.id">Contribute</a>
	<div class="margin-top-30"></div>
</center>
</div>
<div ng-if="showBundleOverlay && preview" class="bundle-overlay">
	<div class="guide-photo margin-top-96">
		<div class="margin-left-90">Change your bundle's photo</div>
		<div class="icon-arrow1 margin-top-7 margin-left-50"></div>
		<div class="icon-photo margin-top-7"></div>
	</div>
	<div class="guide-desc">
		<div class="">Edit your bundle's description</div>
		<div class="icon-arrow2 margin-top-7"></div>
		<div class="icon-desc margin-top-7"></div>
	</div>
	<div ng-click="onHideOverlay()" class="btn btn-gray-reverse btn-got-it margin-top-28">Got it, thanks!</div>
</div>