<div class="page-bundle-view">
<center>
  <div class="title margin-top-15">Who's in?</div>
  <div class="margin-top-10">
  	<div ng-repeat="contribution in bundle.contributions" class="margin-top-15 contribution-item">
  		<div class="pull-left margin-right-10 contribution-photo">
  			<img ng-src="{{contribution.user.photo}}" />
  		</div>
  		<div class="pull-left contribution-name">{{contribution.user.firstname}} {{contribution.user.surname}}</div>
  		<a class="pull-right padding-left-15 contribution-link" ng-if="bundle.UserId == currentUser.id">Remove</a>
  		<div class="pull-right contribution-amount">£{{contribution.transaction.amount }}</div>
  	</div>
  </div>
  <div class="margin-top-30"></div>
</center>
</div>