<div class="page-account">
<center>
	<div class="title">My account</div>
	<div class="photo margin-top-20 photo-uploader" ng-click="onEditPhoto()">
		<div class="photo-uploader-handler"></div>
		<img ng-src="{{currentUser.photo}}" />
	</div>
	<div class="name row margin-top-25">
		<div ng-show="!edit.isEditName">{{currentUser.firstname}} {{currentUser.surname}}</div>
		<input type="text" class="field firstname" ng-show="edit.isEditName" ng-model="currentUser.firstname" placeholder="First name" />
		<input type="text" class="field surname" ng-show="edit.isEditName" ng-model="currentUser.surname" placeholder="Surname" />
		<div class="clear"></div>
		<!-- <span class="edit margin-top-10" ng-click="onEdit('isEditName')" ng-show="!edit.isEditName">Edit</span> -->
		<a ui-sref="account/name" class="edit margin-top-10">Edit</a>
		<span class="save margin-top-10" ng-click="onSave()" ng-show="edit.isEditName">Save</span>
	</div>
	<div ng-if="currentUser.facebookId == null || currentUser.facebookId == ''">
		<div class="row margin-top-30">
			<span class="pull-left">Email</span>
		</div>
		<div class="row margin-top-7">
			<div class="field" ng-show="!edit.isEditEmail">{{currentUser.email}}</div>
			<input type="email" class="field email" ng-show="edit.isEditEmail" ng-model="currentUser.email" />
		</div>
		<div class="row margin-top-30">
			<span class="pull-left">Password</span>
		</div>
		<div class="row margin-top-7">
			<div class="field" ng-show="!edit.isEditPassword">xxxxxxxx</div>
			<input type="password" class="field password" ng-show="edit.isEditPassword" ng-model="currentUser.password" placeholder="Password" />
			<a class="save pull-right" ui-sref="account/password" ng-show="!edit.isEditPassword">Edit</a>
			<span class="save pull-right" ng-click="onSave()" ng-show="edit.isEditPassword">Save</span>
		</div>
	</div>
	<div class="row margin-top-30">
		<span class="pull-left">Cards</span>
	</div>
	<div class="row margin-top-10" ng-repeat="card in cards">
		<div class="field">xxxx {{card.last4}}&nbsp;&nbsp;&nbsp;{{card.expiryDate | date:'MM/yy'}}</div>
		<span class="save pull-right" ng-click="onRemoveCard(card)">Remove</span>
	</div>
	<div class="row margin-top-25">
		<button class="btn btn-white">Add card</button>
	</div>
	<div ng-if="transactions.length > 0" class="transactions">
		<div class="row transaction margin-top-30">
			<span class="pull-left">Transactions</span>
		</div>
		<div class="row margin-top-10 transaction" ng-repeat="transaction in transactions">
			<div class="date">{{ transaction.createdAt | date:"dd/MM/yy"}}</div>
			<div class="bundle">{{ transaction.contribution.bundle.bundleName}}</div>
			<div class="amount">&#163; {{ transaction.amount | number:0 }}</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="margin-top-30"></div>
</center>
</div>