<div class="page-account">
<center>
	<div class="title">Edit password</div>
	<div class="row margin-top-30">
		<input ui-bundle-input-auto-fill class="gray-text" type="password" placeholder="Password" ng-model="currentUser.password">
	</div>
	<div class="row margin-top-20">
		<input ui-bundle-input-auto-fill class="gray-text" type="password" placeholder="Confirm password" ng-model="password">
	</div>
	<div class="row margin-top-30" ng-if="error != ''">
		<bf-form-error message="error"></bf-form-error>
	</div>
	<div class="row margin-top-30">
		<button class="btn btn-gray" ng-click="onSave()" ng-disabled="!canSave()">Save</button>
	</div>
</center>
</div>