<div class="page-footer-inner">
		 2015 &copy; Remit Systems
</div>
<div class="scroll-to-top">
	<i class="icon-arrow-up"></i>
</div>
<script type="text/ng-template" id="AddPaymentMethodDialog.html">
    <div class="modal-header">
        <h3 class="modal-title">Credit card info</h3>
    </div>
    <div class="modal-body">    
		<div class="alert alert-danger" ng-show="error != ''">
			<!-- <button class="close" data-close="alert"></button> -->
			<span>{{ error }}</span>
		</div>
    	<div class="form-group">
			<select class="form-control" ng-model="creditcard.type">
				<option value="">Select Card Type</option>
				<option value="visa">Visa</option>
				<option value="mastercard">Mastecard</option>
				<option value="discover">Discover</option>
				<option value="amex">American Express</option>
			</select>
		</div>
		<div class="form-group">
			<input type="text" class="form-control" ng-model="creditcard.number" placeholder="Credit card number" />
		</div>
		<div class="row">
			<div class="form-group ol-lg-4 col-md-4 col-sm-12 col-xs-12">
				<input type="text" class="form-control" ng-model="creditcard.cvv2" placeholder="CVV" />
			</div>
			<div class="form-group ol-lg-4 col-md-4 col-sm-12 col-xs-12">
				<select class="form-control" ng-model="creditcard.expire_month">
					<option value="">Month</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
				</select>
			</div>
			<div class="form-group ol-lg-4 col-md-4 col-sm-12 col-xs-12">
				<select class="form-control" ng-model="creditcard.expire_year">
					<option value="">Year</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
					<option value="2017">2017</option>
					<option value="2018">2018</option>
					<option value="2019">2019</option>
					<option value="2020">2020</option>
					<option value="2021">2021</option>
					<option value="2022">2022</option>
					<option value="2023">2023</option>
					<option value="2024">2024</option>
					<option value="2025">2025</option>
					<option value="2026">2026</option>
				</select>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="form-group ol-lg-6 col-md-6 col-sm-12 col-xs-12">
				<input type="text" class="form-control" ng-model="creditcard.first_name" placeholder="Card holder first name" />
			</div>
			<div class="form-group ol-lg-6 col-md-6 col-sm-12 col-xs-12">
				<input type="text" class="form-control" ng-model="creditcard.last_name" placeholder="Card holder last name" />
			</div>
		</div>
		<hr />
		<div class="form-group">
			<input type="text" class="form-control" ng-model="creditcard.billing_address.line1" placeholder="Street address" />
		</div>
		<div class="row">
			<div class="form-group ol-lg-6 col-md-6 col-sm-12 col-xs-12">
				<input type="text" class="form-control" ng-model="creditcard.billing_address.city" placeholder="City" />
			</div>
			<div class="form-group ol-lg-6 col-md-6 col-sm-12 col-xs-12">
				<input type="text" class="form-control" ng-model="creditcard.billing_address.state" placeholder="State" />
			</div>
		</div>
		<div class="row">
			<div class="form-group ol-lg-6 col-md-6 col-sm-12 col-xs-12">
				<input type="text" class="form-control" ng-model="creditcard.billing_address.postal_code" placeholder="Postal Code" />
			</div>
			<div class="form-group ol-lg-6 col-md-6 col-sm-12 col-xs-12">
				<input type="text" class="form-control" ng-model="creditcard.billing_address.country_code" placeholder="Country Code (US)" />
			</div>
		</div>
    </div>
    <div class="modal-footer">
        <button class="btn green-haze" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>