doctype html
//if IE 8
  html.ie8.no-js(lang='en', data-ng-app='MetronicApp')  
//if IE 9
  html.ie9.no-js(lang='en', data-ng-app='MetronicApp')  
// [if !IE] <!
html(lang='en', data-ng-app='MetronicApp')
  // <![endif]
  // BEGIN HEAD
  head
    title(data-ng-bind="'Remit System'")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    meta(content='', name='description')
    meta(content='', name='author')

    script.
      var GOOGLE_API_KEY = '#{config.google.API_KEY}';

    // BEGIN GLOBAL MANDATORY STYLES
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all', rel='stylesheet', type='text/css')
    link(href='/assets/global/plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='/assets/global/plugins/simple-line-icons/simple-line-icons.min.css', rel='stylesheet', type='text/css')
    link(href='/assets/global/plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/assets/global/plugins/uniform/css/uniform.default.css', rel='stylesheet', type='text/css')
    link(href='/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css', rel='stylesheet', type='text/css')
    link(href='/assets/global/plugins/select2/select2.css', rel='stylesheet', type='text/css')
    link(href='/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css', rel='stylesheet', type='text/css')
    link(href='/assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css', rel='stylesheet', type='text/css')
    link(href='/assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css', rel='stylesheet', type='text/css')

    // END GLOBAL MANDATORY STYLES
    // BEGIN DYMANICLY LOADED CSS FILES(all plugin and page related styles must be loaded between GLOBAL and THEME css files )
    link#ng_load_plugins_before
    // END DYMANICLY LOADED CSS FILES
    // BEGIN THEME STYLES
    // DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag
    link#style_components(href='/assets/global/css/components.css', rel='stylesheet', type='text/css')
    link(href='/assets/global/css/plugins.css', rel='stylesheet', type='text/css')
    link(href='/assets/admin/layout/css/layout.css', rel='stylesheet', type='text/css')
    link#style_color(href='/assets/admin/layout/css/themes/darkblue.css', rel='stylesheet', type='text/css')
    link(href='/assets/admin/layout/css/custom.css', rel='stylesheet', type='text/css')
    // END THEME STYLES
    link(rel='shortcut icon', href='favicon.ico')
  // END HEAD
  // BEGIN BODY
  // DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices
  // DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default
  // DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle
  // DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle
  // DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle
  // DOC: Apply "page-sidebar-fixed" class to have fixed sidebar
  // DOC: Apply "page-footer-fixed" class to the body element to have fixed footer
  // DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side
  // DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu
  body.page-header-fixed.page-sidebar-closed-hide-logo.page-quick-sidebar-over-content.page-on-load(ng-controller='AppController', ng-class="{'page-container-bg-solid': settings.layout.pageBodySolid, 'page-sidebar-closed': settings.layout.pageSidebarClosed}")
    // BEGIN PAGE SPINNER
    .page-spinner-bar(ng-spinner-bar='')
      .bounce1
      .bounce2
      .bounce3
    // END PAGE SPINNER
    // BEGIN HEADER
    .page-header.navbar.navbar-fixed-top(data-ng-include="'pages/layout/header.html'", data-ng-controller='HeaderController', ng-show="currentUser !== null")
    // END HEADER
    .clearfix
    // BEGIN CONTAINER
    .page-container
      // BEGIN SIDEBAR
      .page-sidebar-wrapper(data-ng-include="'pages/layout/sidebar.html'", data-ng-controller='SidebarController', ng-show="currentUser !== null")
      // END SIDEBAR
      // BEGIN CONTENT
      .page-content-wrapper
          // BEGIN STYLE CUSTOMIZER(optional)
          // .theme-panel.hidden-xs.hidden-sm(data-ng-include="'pages/layout/theme-panel.html'", data-ng-controller='ThemePanelController', ng-show="currentUser !== null")
          // END STYLE CUSTOMIZER
          // BEGIN ACTUAL CONTENT
          .fade-in-up(ui-view='')
          // END ACTUAL CONTENT
      // END CONTENT
      // BEGIN QUICK SIDEBAR
      a.page-quick-sidebar-toggler(href='javascript:;', ng-show="currentUser !== null")
        i.icon-close
      .page-quick-sidebar-wrapper(data-ng-include="'pages/layout/quick-sidebar.html'", data-ng-controller='QuickSidebarController', ng-show="currentUser !== null")
      // END QUICK SIDEBAR
    // END CONTAINER
    // BEGIN FOOTER
    .page-footer(data-ng-include="'pages/layout/footer.html'", data-ng-controller='FooterController', ng-show="currentUser !== null")
    // END FOOTER
    // BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time)
    // BEGIN CORE JQUERY PLUGINS
    //if lt IE 9
      script(src='/assets/global/plugins/respond.min.js')
      script(src='/assets/global/plugins/excanvas.min.js')
    script(src='/assets/global/plugins/jquery.min.js', type='text/javascript')
    script(src='/assets/global/plugins/jquery-migrate.min.js', type='text/javascript')
    script(src='/assets/global/plugins/bootstrap/js/bootstrap.min.js', type='text/javascript')
    script(src='/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js', type='text/javascript')
    script(src='/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js', type='text/javascript')
    script(src='/assets/global/plugins/jquery.blockui.min.js', type='text/javascript')
    script(src='/assets/global/plugins/jquery.cokie.min.js', type='text/javascript')
    script(src='/assets/global/plugins/uniform/jquery.uniform.min.js', type='text/javascript')
    script(src='/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js', type='text/javascript')
    script(src='/assets/global/plugins/select2/select2.min.js', type='text/javascript')
    script(src='/assets/global/plugins/datatables/all.min.js', type='text/javascript')
    // END CORE JQUERY PLUGINS
    // BEGIN CORE ANGULARJS PLUGINS
    script(src='/lib/angular/angular.min.js', type='text/javascript')
    script(src='/lib/angular-sanitize/angular-sanitize.min.js', type='text/javascript')
    script(src='/lib/angular-touch/angular-touch.min.js', type='text/javascript')
    script(src='/lib/angular-cookies/angular-cookies.min.js', type='text/javascript')
    script(src='/lib/angular-ui-router/release/angular-ui-router.min.js', type='text/javascript')
    script(src='/assets/global/plugins/angularjs/plugins/ocLazyLoad.min.js', type='text/javascript')
    script(src='/assets/global/plugins/angularjs/plugins/ui-bootstrap-tpls.min.js', type='text/javascript')
    script(src='/lib/underscore/underscore-min.js', type='text/javascript')


    script(src='/lib/angular-lodash/angular-lodash.js', type='text/javascript')
    script(src='/lib/angular-google-maps/dist/angular-google-maps.min.js', type='text/javascript')
    // END CORE ANGULARJS PLUGINS
    // BEGIN APP LEVEL ANGULARJS SCRIPTS
    script(src='js/app.js', type='text/javascript')
    script(src='js/directives/directives.js', type='text/javascript')
    script(src='js/filters.js', type='text/javascript')
    script(src='js/constants.js', type='text/javascript')
    script(src='js/init.js', type='text/javascript')
    script(src='js/libraries/table-advanced.js', type='text/javascript')
    script(src='js/libraries/table-ajax.js', type='text/javascript')
    // END APP LEVEL ANGULARJS SCRIPTS
    // BEGIN APP LEVEL JQUERY SCRIPTS
    script(src='/assets/global/scripts/metronic.js', type='text/javascript')
    script(src='/assets/admin/layout/scripts/layout.js', type='text/javascript')
    script(src='/assets/admin/layout/scripts/quick-sidebar.js', type='text/javascript')
    script(src='/assets/admin/layout/scripts/demo.js', type='text/javascript')
    // END APP LEVEL JQUERY SCRIPTS


    // Services
    script(src='js/services/map.js', type='text/javascript')
    script(src='js/services/users.js', type='text/javascript')


    // Layout
    script(src='pages/layout/app.js', type='text/javascript')
    script(src='pages/layout/header.js', type='text/javascript')
    script(src='pages/layout/footer.js', type='text/javascript')
    script(src='pages/layout/sidebar.js', type='text/javascript')
    script(src='pages/layout/quick-sidebar.js', type='text/javascript')
    script(src='pages/layout/themepanel.js', type='text/javascript')

    // Controller
    script(src='pages/dashboard/dashboard.js', type='text/javascript')
    script(src='pages/user/login.js', type='text/javascript')
    script(src='pages/user/logout.js', type='text/javascript')
    script(src='pages/user/settings.js', type='text/javascript')
    script(src='pages/dashboard/users.js', type='text/javascript')
    script(src='pages/dashboard/users-edit.js', type='text/javascript')

    script(type='text/javascript').
      /* Init Metronic's core jquery plugins and layout scripts */
      $(document).ready(function() {
      Metronic.setAssetsPath('/assets/'); // Set the assets folder path
      });
    // END JAVASCRIPTS
  // END BODY
